@page
@model ServiceHost.Areas.Administration.Pages.Discount.CustomerDiscount.IndexModel
@{
}
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت تخفیف ها";
}

@section Heads
{
    <link href="~/Admin_Theme/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin_Theme/assets/css/persian-datepicker.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Index", "Create")">تعریف تخفیف جدید</a>
        </p>
    </div>
</div>
@if (TempData["MessageSuccess"] != null)
{
    <div id="Message" class="alert alert-success">
        @TempData["MessageSuccess"]
    </div>
}
@if (TempData["MessageFail"] != null)
{
    <div id="Message" class="alert alert-danger">
        @TempData["MessageFail"]
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو در تخفیفات</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.ProductId"></label>
                        <select class="form-control" asp-for="SearchModel.ProductId" asp-items="Model.Products">
                            <option value="0">محصول ...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.StartDateS">تاریخ شروع</label>
                        <input class="form-control datetimePersian" asp-for="SearchModel.StartDateS">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.EndDateS">تاریخ پایان</label>
                        <input class="form-control datetimePersian" asp-for="SearchModel.EndDateS" >
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست محصولات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>درصد تخفیف</th>
                                    <th>محصول</th>
                                    <th>تاریخ شروع</th>
                                    <th>تاریخ اتمام</th>
                                    <th>دلیل تخفیف</th>
                                    <th>وضعیت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Discounts)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Discount</td>
                                        <td>@item.Product</td>
                                        <td>@item.StartDateS</td>
                                        <td>@item.EndDateS</td>
                                        <td>@item.Reason</td>
                                        <td id="sticker" style="text-align: center">
                                            @if (item.EndDate > DateTime.Now)
                                            {
                                                <i class="fa fa-2x fa-check text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-2x fa-remove text-danger"></i>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-warning pull-right m-rl-5"
                                               href="#showmodal=@Url.Page("./Index", "Edit", new {id = item.Id})">
                                                <i class="fa fa-edit"></i> ویرایش
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/Admin_Theme/assets/js/persian-date.min.js"></script>
    <script src="~/Admin_Theme/assets/js/persian-datepicker.min.js"></script>
    <script src="~/Admin_Theme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin_Theme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
// ReSharper disable once PossiblyUnassignedProperty
            $(".datetimePersian").persianDatepicker({
                observer: true,
                format: 'YYYY/MM/DD',
                autoClose:true
            });
            $('#datatable').dataTable();
        });
    </script>
    <script>
        setTimeout(function() { $("#Message").hide(250); }, 3000);
    </script>


}